@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@700&display=swap');

*{
    box-sizing: border-box;
}

img{
    height:auto;
}

html {
    margin : 0;
    padding : 0;
   height: 100%
}


body {
    margin:0;
    background-color: #14213D;
    min-width: 100%;
    min-height: 100%;
    display:flex;
    flex-direction:column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.header{
    background-color:#BCDEE8;
    padding:10px;
    height:150px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
   /* flex-basis : 100%; */
    align-items: center;
    z-index: 2;
    position: relative;

}

.titre {
    font-family: 'BenchNine', sans-serif;
    margin-right: 5%;
    flex-grow: 2;
    text-align: right;
    
}

.monstre {
    height: 100%;
}

.monstre img { 
    height: 100%; 
    width: auto; 
} 

.footer {
	width: 100%;
    background-color:#BCDEE8;
    height:150px;
    display:flex;
    flex-wrap: wrap;
 /* flex-basis : 100%; */ 
    align-items: center;
}


.copy {
    font-family: 'BenchNine', sans-serif;
    font-size:25px;
    margin-left: 10%;
    flex-grow: 2;
    
}

.github { 
    display:flex;
    float : right;
    margin-right:40px;
    align-items: center;
    
} 

.github span {
    font-family: 'BenchNine', sans-serif;
    font-size:20px;
    margin:15px;
}


#center {
    display:inline-flex;
    align-items: center;
    justify-content:space-around;
    padding-left : 10%;
    padding-right : 10%;
     flex: 1
}

.baleine {
    height: 100%;
}

.baleine img { 
    height: 100%; 
    width: auto; 

} 

.block
{
    background-color: white;
    height: 120px;
    width: auto; 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    z-index :3;
    color: #333;
    margin: 0 auto;
    text-align: center;
    padding:10px;

}

ul{
    height: auto;
    padding:0;
    margin:0;
    
}

li {
  display: inline-block;
  font-size: 32px;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  font-family: 'BenchNine', sans-serif;
    padding:5px;
}

li span {
  display: block;
  font-size: 40px;
  font-family: 'arial', sans-serif;
}


.baleine img {
    position:relative;
    width: 500px;
    z-index :2;
}


/* ---------------------------------------------------------------------------------
BULLES BULLES BULLES BULLES BULLES BULLES BULLES BULLES BULLES BULLES BULLES BULLES 
---------------------------------------------------------------------------------*/

#bubbles { height: 100% }
/*#bubbles { padding: 300px 0 }*/

.bubble {
    width: 60px;
    height: 60px;
    background: #FCA311;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
    z-index: 1;

}

.x1 {
     left: 10%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);

  background: #3C6E71;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 20%;
   
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);

    
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 40%;
  
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
      background:#3C6E71;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 60%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);

    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 75%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);

    background: #3C6E71;
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
    left: 80%;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-animation: moveclouds 12s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 12s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 12s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x7 {
    left: 40%;
    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    transform: scale(0.55);
    background: #3C6E71;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {     
    0% { 
        top: 500px;
    }

    100% { 
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

/* ---------------------------------------------------------------------------------
PROGRESS BAR PROGRESS BAR PROGRESS BAR PROGRESS BAR PROGRESS BAR PROGRESS BAR 
---------------------------------------------------------------------------------*/

.progress {
    display:inline-block;
    position:relative;
    width: 60%;
    border-radius: 5px;
    font-family: arial;
    font-size: 12px;
    color:white;
    padding: 0px;
    margin-left: 20%;
    text-align: center;
   /* padding-left:10px;*/
        z-index:5;
}

.progress .progress-bar {
    border-radius: 0 5px 5px 0;
}


/* ---------------------------------------------------------------------------------
RESPONSIVE  RESPONSIVE  RESPONSIVE  RESPONSIVE  RESPONSIVE  
---------------------------------------------------------------------------------*/


@media screen and (max-width: 640px) {
    
    .header {
        height:60px;
        padding:5px;
    }
    
    h1 {
        font-size:20px;
    }      
    
    .footer {
        height:60px;
        padding : 5px;
    }

    .copy {
        font-size:20px;
    }
    
    #center {
    display:flex;
    flex-direction:column;
    justify-content:space-around;

    }
    .baleine img {
    position:relative;
    width: 300px;
    z-index :2;

}
}


                                        }

    @media screen and (min-width: 500px) and (max-width: 900px)  {
    #center {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
            }

            .baleine img {
                position:relative;
                width: 100%;
                z-index :2;
                margin-top:5%;
                margin-bottom:5%;
            }

            .block{
                margin-top : 5%;
                height:auto;
            }

            li {
                display: inline-block;
                font-size: 22px;
                align-items: center;
                list-style-type: none;
                text-transform: uppercase;
                font-family: 'BenchNine', sans-serif;
                  padding:5px;
              }
              
              li span {
                display: block;
                font-size: 30px;
                font-family: 'arial', sans-serif;
              }
              

        }

     @media screen and (min-width: 901px) and (max-width: 1200px) {

            #center {
                display:flex;
                justify-content:space-around;
                align-items: center;
                padding:10px;
                    }

            .block{
                margin-top : 5%;
                height:auto;
            }

            li {
                display: inline-block;
                font-size: 22px;
                align-items: center;
                list-style-type: none;
                text-transform: uppercase;
                font-family: 'BenchNine', sans-serif;
                  padding:5px;
              }
              
              li span {
                display: block;
                font-size: 30px;
                font-family: 'arial', sans-serif;
              }

        }